.myBase {
	border-bottom:	10px;
	color:			red;
}
.myBaseChild extends  .myBase, #cl2 {
	border:			20px;
	border-bottom:	12px;
}

.myLastChild extends .myBaseChild {
	color:green;
}



.cl1 {
	color:blue;
	background: white;
	margin:3px;
}
a {
	border: 1px solid blue;
}
#cl2 {
	color:green;
}


.cl3, .cl5 {
	margin: 10px;
}



.test  extends .cl1, #cl2, .cl3 {
	padding: 5px;
}

