/** 
 * Variable Section
 *  [comment not required though xD]
 *
 */ 
$bar 	: 500px;
$foo 	: 1000px;
$test	: solid 1px black;
$int	: 500;
$integer: 200px;

.myBase {
	border-bottom:	10px;
	color:			red;
}
.myBaseChild extends  .myBase, #cl2 {
	border:			$test;	/* use of variable here */
	border-bottom:	12px;
}

.myLastChild extends .myBaseChild {
	color:		green;
	width: 		$bar; /* use of variable here */
}


.cl1 {
	color:		blue;
	background:	white;
	margin:		3px;
}
a {
	border: 	1px solid blue;
}
#cl2 {
	color:		green;
	height:		$foo; /* use of variable here */
}


.cl3, .cl5 {
	margin: 	10px;
}



.test  extends .cl1, #cl2, .cl3 {
	padding: 5px;
	width:	$int px;
	height: $Integer;
}

